.container-app {
    text-align: center;
    color: rgb(26, 28, 29);
  }

  .boton-create{
    margin: 10px;
  }

  .div-btonEditar, .div-btonCreate {
    display: flex;
    flex-direction: column;
  }

  .boton-eliminar{
    display: flex;
    justify-content: space-around;
    margin: 4px;
  }

  .producto{
    background-color: gray;
  }